<md-sidenav md-is-locked-open="true" class="md-whiteframe-8dp sidenav-bg" flex layout-fill>
	<md-toolbar class="md-tall md-hue-1">
        <div layout="row" class="md-toolbar-tools-bottom pad-top33 inset user-profile" layout-align="center center">
	        <span><user-avatar></user-avatar></span>
	        <span class="pad-left12 pad-top8">Welcome,Emma</span>
        </div>
    </md-toolbar>
	<div flex class="sidebar mar-top20">
	    <md-menu-item flex layout="row">
		    <md-button ng-href="" class="md-primary md-raised md-focused">
		        <span flex="15" >
		            <md-icon class="material-icons">dashboard</md-icon>
		        </span>
		        <span flex class="pad-left12">Dashboard</span>
		    </md-button>
	    </md-menu-item>
	    <md-divider></md-divider>
	    <md-menu-item flex layout="row">
		    <md-button ng-href="">
		        <span flex="15">
		            <md-icon class="material-icons">perm_identity</md-icon>
		        </span>
		        <span flex class="pad-left12">Positions</span>
		    </md-button>
	    </md-menu-item>
	    <md-divider></md-divider>
	    <md-menu-item flex layout="row">
	        <md-button ng-href="">
		        <span flex="15">
		           <md-icon class="material-icons">person</md-icon>
		        </span>
		        <span flex class="pad-left12">Profiles</span>
	        </md-button>
	    </md-menu-item>
	    <md-divider></md-divider>
	    <md-menu-item flex layout="row">
	        <md-button ng-href="">
		        <span flex="15">
		          <md-icon class="material-icons">assessment</md-icon>
		        </span>
		        <span flex class="pad-left12">Reports</span>
	        </md-button>
	    </md-menu-item>
	    <md-divider></md-divider>
	    <md-menu-item flex layout="row">
	        <md-button ng-href="">
		        <span flex="15">
		           <md-icon class="material-icons">portrait</md-icon>
		        </span>
		        <span flex class="pad-left12">Wiki</span>
	        </md-button>
	    </md-menu-item>
	    <md-divider></md-divider>   
  </div>
</md-sidenav>
	
	