<md-toolbar class="md-whiteframe-3dp"  layout-align="space-around center">
    <div class="md-toolbar-tools">
        <span id="logo-container"><a><img src="../assets/images/logo.png"/></a></span>
        <span flex></span>
        <md-input-container md-no-float flex="20" style="padding-bottom:0;margin:0;margin-top:10px;">
			<md-icon class="material-icons">search</md-icon>
			<input placeholder="Search candidates">
		</md-input-container>
       <!--  <md-button class="toolbar-button md-ink-ripple" aria-label="Search">
            <md-tooltip>Search</md-tooltip>
            <i class="material-icons">search</i>
        </md-button> -->
        <!-- <md-input-container>
	        <label>Search Candidate</label>
	          <input  />
	    </md-input-container> -->
        <md-button class="toolbar-button md-ink-ripple" aria-label="General notifications">
            <md-tooltip>Urgent notifications</md-tooltip>
            <md-icon class="material-icons">videocam</md-icon>
        </md-button>
        <md-button class="toolbar-button md-ink-ripple" aria-label="General notifications">
            <md-tooltip>General notifications</md-tooltip>
            <md-icon class="material-icons">notifications</md-icon>
        </md-button>
        <div class="userName">
	        <span>Emma Peter</span>
	        <h6 class="mar0 text-center">Administrator</h6>
        </div>
        <md-button class="toolbar-button md-ink-ripple" aria-label="General notifications">
            <md-icon class="material-icons">arrow_drop_down</md-icon>
        </md-button>
    </div>
</md-toolbar>   