<md-subheader>
    <div class="md-toolbar-tools">
        <span class="md-headline">Dashboard</span>
        <span flex></span>
        <md-button class="toolbar-button md-accent" aria-label="Whatsapp">
            <md-icon class="material-icons">whatshot</md-icon>
            <md-tooltip>Whatsapp</md-tooltip>
        </md-button>
        <md-button class="toolbar-button" aria-label="Calculator">
           <md-icon class="material-icons">class</md-icon>
           <md-tooltip>Calculator</md-tooltip>
        </md-button>
        <md-button class="toolbar-button" aria-label="Messages">
           <md-icon class="material-icons">message</md-icon>
           <md-tooltip>Message</md-tooltip>
        </md-button>
    </div>
</md-subheader>